- layout ||= 'default'
- padding_bottom ||= '190px'

%div{ class: 'blank-header', style: "padding: 40px 20px #{padding_bottom};" }
  = image_tag "/images/devops-tools/bars-left.png", class: "image-border image-border-left margin-top40", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/devops-tools/bars-right.png", class: "image-border image-border-right margin-top40", alt: "Gitlab hero border pattern right svg"
  = image_tag "/images/devops-tools/background-wave.png", class: "image-border image-border-right wave-image"
  .header-content
    .tool-name
      GitLab
    .vs-wrapper
      .rhombus-shape.red-color
      .vs-text
        vs
      .rhombus-shape.white-color
    .tool-name
      = product_name
  - if layout == 'detailed'
    .subtitle.desktop-only
      Decision Kit
    .subtitle.mobile-only
      Decision Kit
    .button-wrapper
      = link_to "Download Comparison", "/resources/gitlab-vs-atlassian/", class: "comparison-download-btn shadow cta-btn"
  - else
    .subtitle-main
      Comparison Guide
    .bootstrap-row.header-description-wrapper.margin-top20
      .col-md-10.col-md-push-2
        .conducted-by.margin-bottom10.conducted-by-wrapper
          :markdown
            Capability Comparison conducted by Accelerated Strategies Group, an **independent third party organization.**
      .col-md-2.col-md-pull-10.image-header-wrapper
        = image_tag "/images/devops-tools/accelerated-strategies.png", class: "accelerated-img"
