---
layout: handbook-page-toc
title: "Business Operations - Tech Stack Details"
---

%h2
  Request Access

%p
  If you need to request access for any of the following tools, please refer to and follow the
  %a{href: "/handbook/business-ops/team-member-enablement/onboarding-access-requests/access-requests/frequently-asked-questions/#so-you-need-access-to-a-system-or-a-groupvault"}
    Access Request process.

- data.tech_stack.each do |stack|
  %h2
    = stack.title
  %p
    = kramdown(stack.description) if stack.description
