.row.links
  .col-xs-1.col-md-1
  .col-xs-11.col-md-6
    %h2 Help and More Information
    %ul
      %li
        Please see
        = link_to "Get help for GitLab", "/get-help/"
        if you have questions
      %li
        View a step-by-step guide to
        %a{href: "https://www.youtube.com/watch?v=RlEVGOpYF5Y"} migrate from Jenkins to GitLab
      %li
        Propose and discuss new features of CI/CD in the
        %a{href: "https://gitlab.com/gitlab-org/gitlab/issues"} GitLab issue tracker
        and tag them with the 'CI/CD' label
      %li
        More information can be found in the
        %a{href: "https://docs.gitlab.com/ee/ci/"} GitLab CI/CD documentation
      %li Since version 8.0, GitLab CE/EE and GitLab CI/CD are a single product
      %li
        See the presentation on
        %a{href: "https://docs.google.com/presentation/d/1OGgk2Tcxbpl7DJaIOzCX4Vqg3dlwfELC3u2jEeCBbDk"} Why CI/CD?
  .hidden-xs.hidden-sm.col-md-4
    = image_tag "/images/ci/gitlab-ci-cd-logo_2x.png", class: "gitlab-arch hidden-xs", alt: "Gitlab ci cd logo png", style: "width: 60%;"
%hr.divider/
